extends layout

block content
  h1= title
  p Rows = #{query.rows} and Columns = #{query.cols}
  - rows = Number(query.rows)
  - cols = Number(query.cols)
  if !Number.isInteger(rows)
    p Input is not valid
  if !Number.isInteger(cols)
    p Input is not valid
  else if rows >= 5 || rows <= 0
    p Row value is not valid
  else if cols >= 5 || rows <= 0
    p Column value is not valid
  else 
    table
    - for (i=0; i<rows; i++) {
      tr#middle
      <br>
        - for(e=0; e<cols; e++){
          td= (i+e)%rows + " "
        - }
    - }