extends layout

block content
  h1= title
    - var image_names = ["heartTat.jpg", "angelTat.jpg", "tacoTat.jpg", "cakeTat.jpg", "tigerTat.jpg"]
      - for(i=0; i < 3; i++){
        - rand_img= Math.floor(Math.random()*5)
        img(src= `/stylesheets/${image_names[rand_img]}`)
      -}
         
