extends layout

block content
  h1= title
  div(class="container-fluid")
    div(class="row")
      -
        let stuff = results
      each ply, index in stuff
        div(class="col-sm-2") #{ply.tatLocation}
        div(class="col-sm-2") #{ply.tatColor}
        div(class="col-sm-2") #{ply.tatNum}



